<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<h2>人脸检测</h2>
<pre>
    传图片路基，返回人脸集合（人脸矩形框，眼睛鼻子嘴巴的坐标)，图片分辨率和图片文件大小越小越快,建议小于200K,640*480
    请求地址：POST -> http://ip:port/face/detect?url=${image_url}
    返回：ret		int	返回码； 0表示成功，非0表示出错
         msg    string	返回信息；ret非0时表示出错时错误原因
         data	object	返回数据；ret为0时有意义
         + group_size	int	本次识别请求检索的库总大小
         + face  array 人脸集合
            + landmark 眼睛鼻子嘴巴等坐标
            + location 人脸坐标
</pre>
<form id="form_detect">
    图片地址：<input type="text" required name="url">
    <input type="submit" value="检测">
</form>
<div style="margin-top: 16px">
    检测结果: <textarea disabled style="width: 400px" id="pre_detect"></textarea>
</div>

<h2 style="margin-top: 64px">人脸对比</h2>
<pre>
    传两个图片路径，返回人脸差值,图片分辨率和图片文件大小越小越快,建议小于200K,640*480
    请求地址：POST -> http://ip:port/face/match?url1=${image1_url}&url2=${image2_url}
    返回：{msg:string,ret:int-0成功，1失败,distance:double-差值0.0-1.0越小越精确}
</pre>
<form id="form_distance" enctype="multipart/form-data">
    图片一地址：<input required type="text" name="url1">
    图片二地址：<input required type="text" name="url2">
    <input type="submit" value="对比">
</form>
<div style="margin-top: 16px">
    对比结果: <span id="pre_distance"></span>
</div>
<h2 style="margin-top: 64px">人脸搜索</h2>
<p>测试图片，组id是 "youwillneveruse"</p>
<img src="/static/image/jgz2.jpg" style="width: 160px;height: 120px">
<img src="/static/image/my1.jpg" style="width: 160px;height: 120px">
<img src="/static/image/my2.jpg" style="width: 160px;height: 120px">
<img src="/static/image/tlp1.jpg" style="width:160px;height: 120px">
<img src="/static/image/tlp2.jpg" style="width: 160px;height: 120px">
<img src="/static/image/tlp3.jpg" style="width: 160px;height: 120px">
<img src="/static/image/zhw@lj.jpg" style="width: 160px;height: 120px">
<h4 style="margin-top: 32px">搜索人脸</h4>
<pre>
    在某个组内搜索人脸
    请求地址：POST -> http://ip:port/face/search?url=${image_url}&group_id=${组ID}&max_distance=${最大差值}
    返回：       ret		int	返回码； 0表示成功，非0表示出错
                msg		string	返回信息；ret非0时表示出错时错误原因
                data	object	返回数据；ret为0时有意义
                + group_size	int	本次识别请求检索的库总大小
                + face_list  array 搜索到的人脸集合
                    + face_id string 人脸id
                    + distance double 人脸差值
</pre>
<form id="form_search_face">
    图片地址：<input type="text" id="search_url" required name="url"
                value="http://hnrb.hinews.cn/resfile/2013-01-16/014/hn20130116_014b001.jpg">
    组：<input type="text" required name="group_id" value="youwillneveruse">
    最大差值：<input type="text" required name="max_distance" value="0.55">
    <input type="submit" value="搜索">
    <img id="img_src" style="width: 160px;height: 120px">
</form>
<div style="margin-top: 16px">
    搜索结果: <textarea disabled id="tt_search" style="width: 400px"></textarea>
</div>
<h4>添加人脸</h4>
<pre>
    添加人脸到某个组
    请求地址：POST -> http://ip:port/face/add?url=${image_url}&group_id=${group_id}
    返回：{ msg:string,ret:int(0添加成功，1添加失败)，data:{face_size:int-检测到的人脸数,face_id:string-为图片生成的ID}}
</pre>
<form id="form_add_face">
    图片地址：<input type="text" required name="url">
    组：<input type="text" required name="group_id">
    <input type="submit" value="添加">
</form>
<div style="margin-top: 16px">
    添加结果: <span id="sp_add"></span>
</div>
<h4>删除人脸</h4>
<pre>
    通过人脸ID删除人脸
    请求地址：POST -> http://ip:port/face/delete?face_ids=face_id1|face_id2|face_id3
    返回：{msg:'ok', ret:0}为成功，其他为失败
</pre>
<form id="form_del_face">
    人脸ID集合：<input type="text" required placeholder="id1|id2|id3" name="face_ids">
    <input type="submit" value="删除">
</form>
<div style="margin-top: 16px">
    删除结果: <span id="sp_del"></span>
</div>
<h4>删除所有人脸</h4>
<pre>
    删除所有人脸
    请求地址：POST -> http://ip:port/face/deleteAll
    返回：{msg:'ok', ret:0}为成功，其他为失败
</pre>
</body>
<script>

    $('#form_detect').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: `/face/detect?${$('#form_detect').serialize()}`,
            type: 'POST',
            dataType: 'json',
            success: (data) => {
                console.log("detect", data)
                $('#pre_detect').html(JSON.stringify(data))
            }
        })
    })
    $('#form_distance').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: `/face/match?${$('#form_distance').serialize()}`,
            type: 'POST',
            dataType: 'json',
            success: (data) => {
                console.log("distance", data)
                $('#pre_distance').html(JSON.stringify(data))
            }
        })
    })
    $('#form_add_face').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: `/face/add?${$('#form_add_face').serialize()}`,
            type: 'POST',
            dataType: 'json',
            success: (data) => {
                console.log("add", data)
                $('#sp_add').html(JSON.stringify(data))
            }
        })
    })
    $('#form_search_face').submit((e) => {
        e.preventDefault()
        $('#img_src').attr('src',$('#search_url').val())
        $.ajax({
            url: `/face/search?${$('#form_search_face').serialize()}`,
            type: 'POST',
            dataType: 'json',
            success: (data) => {
                console.log("search", data)
                $('#tt_search').html(JSON.stringify(data))
            }
        })
    })
    $('#form_del_face').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: `/face/delete?${$('#form_del_face').serialize()}`,
            type: 'POST',
            dataType: 'json',
            success: (data) => {
                console.log("del", data)
                $('#sp_del').html(JSON.stringify(data))
            }
        })
    })
</script>
</html>