<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<h4>人脸检测</h4>
<p>传一张图片，返回人脸集合（人脸矩形框，眼睛鼻子嘴巴的坐标）</p>
<h6>通过图片</h6>
<form id="form_detect" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit" value="检测">
</form>
<h6>通过路径</h6>
<form id="form_detect_url" >
    <input type="text" name="url">
    <input type="submit" value="检测">
</form>
<pre id="pre_detect"></pre>

<h4>人脸对比</h4>
<p>传两张图片，返回两张图片中人脸循环对比最大相似度</p>
<form id="form_distance" enctype="multipart/form-data">
    <input type="file" name="image1">
    <input type="file" name="image2">
    <input type="submit" id="sub_distance" value="对比">
</form>
<pre id="pre_distance"></pre>
</body>
<script>
    $('#form_detect_url').submit((e)=>{
        e.preventDefault()
        $.ajax({
            url :'/facetest/detectbyurl',
            type : 'POST',
            processData: false,
            contentType: false,
            data: new FormData($('#form_detect_url')[0]),
            dataType:'json',
            success:(data)=> {
                console.log(data)
                $('#pre_detect').html(JSON.stringify(data))
            }
        })
    })
      $('#form_detect').submit((e)=>{
        e.preventDefault()
        $.ajax({
            url :'/facetest/detectbyfile',
            type : 'POST',
            processData: false,
            contentType: false,
            data: new FormData($('#form_detect')[0]),
            dataType:'json',
            success:(data)=> {
                console.log(data)
                $('#pre_detect').html(JSON.stringify(data))
            }
        })
    })
    $('#form_distance').submit((e)=>{
        e.preventDefault()
           $.ajax({
            url :'/facetest/match',
            type : 'POST',
            processData: false,
            contentType: false,
            data: new FormData($('#form_distance')[0]),
            dataType:'json',
            success:(data)=> {
                console.log(data)
                $('#pre_distance').html(JSON.stringify(data))
            }
        })
    })
</script>
</html>